<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderEntity">
            <h2><span jhiTranslate="storageManagementSpringApp.orderEntity.detail.title">Order Entity</span> {{orderEntity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storageManagementSpringApp.orderEntity.createDate">Create Date</span></dt>
                <dd>
                    <span>{{orderEntity.createDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.orderEntity.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{orderEntity.paymentDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.orderEntity.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{orderEntity.dueDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.orderEntity.status">Status</span></dt>
                <dd>
                    <div *ngIf="orderEntity.statusId">
                        <a [routerLink]="['/status', orderEntity.statusId, 'view']">{{orderEntity.statusName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *ngIf="!isFinalized()" type="button"
                    [routerLink]="['/order-entity', orderEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button *ngIf="!isFinalized()" type="submit"
                    [disabled]="!hasItems"
                    (click)="onRaktarClick(orderEntity)"
                    class="btn btn-success">
                <span class="fa fa-check"></span>
                <span class="d-none d-md-inline">Raktárba</span>
            </button>
        </div>

        <jhi-order-item class="mt-3" [orderEntity]="orderEntity" (hasItems)="hasItemsEmit($event)"></jhi-order-item>

    </div>
</div>
