<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="storageManagementSpringApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storageManagementSpringApp.product.name">Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt *ngIf="product.costPrice"><span jhiTranslate="storageManagementSpringApp.product.costPrice">Cost Price</span></dt>
                <dd *ngIf="product.costPrice">
                    <span>{{product.costPrice}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.product.price">Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.product.quantity">Quantity</span></dt>
                <dd>
                    <span>{{product.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.product.unitOfMeasurement">Unit Of Measurement</span></dt>
                <dd>
                    <span>{{product.unitOfMeasurement}}</span>
                </dd>
                <dt *ngIf="product.manufacturer"><span jhiTranslate="storageManagementSpringApp.product.manufacturer">Manufacturer</span></dt>
                <dd *ngIf="product.manufacturer">
                    <span>{{product.manufacturer}}</span>
                </dd>
                <dt><span jhiTranslate="storageManagementSpringApp.product.barcode">Barcode</span></dt>
                <dd>
                    <span>{{product.barcode}}</span>
                </dd>
                <dt *ngIf="product.productCategoryId"><span jhiTranslate="storageManagementSpringApp.product.productCategory">Product Category</span></dt>
                <dd *ngIf="product.productCategoryId">
                    <div *ngIf="product.productCategoryId">
                        <a [routerLink]="['/product-category', product.productCategoryId, 'view']">{{product.productCategoryName}}</a>
                    </div>
                </dd>
                <dt *ngIf="product.priceCategoryId"><span jhiTranslate="storageManagementSpringApp.product.priceCategory">Price Category</span></dt>
                <dd *ngIf="product.priceCategoryId">
                    <div *ngIf="product.priceCategoryId">
                        <a [routerLink]="['/price-category', product.priceCategoryId, 'view']">{{product.priceCategoryName}}</a>
                    </div>
                </dd>
                <dt *ngIf="product.statusId"><span jhiTranslate="storageManagementSpringApp.product.status">Status</span></dt>
                <dd *ngIf="product.statusId">
                    <div *ngIf="product.statusId">
                        <a [routerLink]="['/status', product.statusId, 'view']">{{product.statusName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
