<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="storageManagementSpringApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.unitOfMeasurement" for="field_unitOfMeasurement">Unit Of Measurement</label>
                    <input type="text" class="form-control" name="unitOfMeasurement" id="field_unitOfMeasurement"
                           formControlName="unitOfMeasurement"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.barcode" for="field_barcode">Barcode</label>
                    <input type="text" class="form-control" name="barcode" id="field_barcode"
                           formControlName="barcode"/>
                    <div *ngIf="editForm.get('barcode').invalid && (editForm.get('barcode').dirty || editForm.get('barcode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('barcode').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.productCategory" for="field_productCategory">Product Category</label>
                    <select class="form-control" id="field_productCategory" name="productCategory" formControlName="productCategoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.priceCategory" for="field_priceCategory">Price Category</label>
                    <select class="form-control" id="field_priceCategory" name="priceCategory" formControlName="priceCategoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="priceCategoryOption.id" *ngFor="let priceCategoryOption of pricecategories; trackBy: trackPriceCategoryById">{{priceCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storageManagementSpringApp.product.status" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="statusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="statusOption.id" *ngFor="let statusOption of statuses; trackBy: trackStatusById">{{statusOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
